.btn_add_column {
    top: 0;
    right: -120px;
}

.btn_add_row {
    bottom: -45px;
    left: 0;
}

.btn_remove_column {
    top: 45px;
    right: -120px;
}

.btn_add_column,
.btn_add_row,
.btn_add_row,
.btn_remove_column
 {
    position: absolute;
}